{% extends 'jinja_temp/login.html' %}
{% include 'includes/_message.html' %}


{% block title %}
SignUp
{% endblock title %}

{% block main %}
<style>
    body{
        background-color: #e0e4eb;
    }
    a{
        color: gray;
        font: 17px;
        text-decoration: none;
        transition: .3s;
    }

    a:hover{
        color: #444;
    }
</style>
<div class="register-form">
    <h1>REGISTER HERE</h1>
    <form action="" method="post">
        <p>What's your email?</p>
        <input type="email" name="email" placeholder="E-mail">
        <p>What is your birthday?</p>
        <input type="text" name="dob" placeholder="YYYY/MM/DD">
        <p>What should we call you?</p>
        <input type="text" name="Username" placeholder="Username">
        <p>What's your gender?</p>
        <input type="text"  name="gender" value="male">
        <p>Upload your profile</p>
        <input type="file"  name="profilepic" >
        <p>create password</p>
        <input type="password" name="password" placeholder="****">
        <button type="submit">Sign-up</button>
        <a href="#">Already a member?</a>
    </form>
</div>

{% endblock main %}