

#photo{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


.pic ::-webkit-file-upload-button{
    color: white;
    background: #444;
    padding: 10px;
    border: none;
    border-radius: 50px;
}

.pic ::-webkit-file-upload-button::hover{
    background: black;
}

.username{
    position: relative;
    border-radius: 50px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    color: blue;
    outline:none;
}
