{% extends 'jinja_temp/login.html' %}


{% block title %}
Welcome
{% endblock title %}


{% block main %}
  <style>
    .box1 {
      background-image: url("{{url_for ('static',filename='img/bg.jpg') }}");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .box2-box {
      background-image: url("{{url_for ('static',filename='img/2848344.jpg') }}");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-color: black;
      background-position: center;
      background-size: cover;
    }
    .box4-box1 {
      background-image: url("{{url_for ('static',filename='img/2848344.jpg') }}");
      background-attachment:scroll;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .intro{
      padding-top: 50px;
      height: 70vh;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
      opacity: 0;
      transform: translateY(20px);
      transition: 0.5s all-ease-in-out;
    }
    .intro-appear{
      opacity: 1;
      transform:  translateY(0px);
    }
    .intro h2{
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: bignoodlestitlings;
      font-style: bold;
      font-weight: bolder;
    }
    .intro p{
      margin-top: 40px;
      margin-left: 50px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 500;
    }
   
  </style>
<div class="box1">

  <div class="box1-box">
    <h1>Music Library</h1>
    <a href="#intro"><button class="h_btn" type="button">Explore</button></a>
  </div>
</div>
<div class="intro intro-appear">
  <h2 style="text-decoration: underline;">ABOUT THIS PROJECT</h2>
  <p>This is a DBMS project which is based on the Flask framework. The flask framework is a built-in development server and a fast debugger. It has an integrated support for unit testing and a Jinja2 templating. It supports for secure cookies and is lightweight. It's modular design helps for a flexible framework. Hence, considering these features of the flask, it's been used in this DBMS project.
    In this project, the user can access the particular artist, genre, language and the desired type of the music he wishes to.</p>
  </div>


<div class="box2">
  <div class="box2-box1 card box shadow-lg visible">
    <h2>USER SIGN-IN</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nisi quos sit eaque cum illo ad, tempore voluptate autem veritatis vitae veniam iure, molestiae eum placeat repellat recusandae consectetur quaerat?</p>
    <a href="#intro"><button class="sign-in" type="button">Explore</button></a>
  </div>
  <div class="box4-box1 "></div>
</div>

<div class="box4">
  <div class="box2-box card box shadow-lg visible">
    
  </div>
  <div class="box4-box2 card box shadow-lg visible">
    <h2>MUSICIAN SIGN-IN</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis odio est beatae aperiam. Asperiores, sequi? Amet possimus eius aperiam quod accusamus. Amet voluptatem saepe dolor laboriosam ipsam commodi rem voluptatum!</p>
    <a href="#intro"><button class="sign-in" type="button">Explore</button></a>
  </div>
</div>


<div class="box3" id="end">
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">This site contains bootypull songs </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
            <li><a href="http://scanfcode.com/category/android/">Android</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <ul class="social-icons">
        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="dribbble" href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
</div>
</div>
</footer>
</div>
<div><h1></h1></div>
<script>
  function scrollAppear(){
    var introtext = document.querySelector('.intro');
    var introposition = introtext.getBoundingClientRect().top;
    var screenposition = window.innerHeight;

    if(introposition < screenposition){
      introtext.classList.add(".intro-appear")

    }
  }
  window.addEventListener('scroll',scrollAppear)
</script>
{% endblock main %}