{% extends 'jinja_temp/user_dashboard.html' %}

{% block title %}
{% endblock title %}


{% block main %}
<style>
    .card img {
        display: block;
        padding: 5px;
    }

    .clasification {
        text-align: left;
        text-decoration: underline;
    }

    .card-img img{
        border-radius: 50%;
        max-width: 20vw;
    }
    .hideshows{
        border: none;
        background: none;
    }
    .card .card-text{
        font-weight: bolder;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .logo-slider{
        width: 100%;
    }
    #btn-ajax{
        border: none;
        background: none;
        outline: none;
    }
    .intro{
        display: flex;
        flex-direction: row;
    }
    .user-intro{
        flex: 1;
    }
</style>
<div class="intro">
    <div class="user-intro">
    <h1>Welcome</h1>
</div>
    <div class="search">
    <nav class="navbar navbar-expand-lg ">
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </nav>
</div>
</div>
<hr>

<button class="hideshows" onclick="toggleClass();"><h5 id="classification-genre"><i class="fa fa-arrow-down" id="arrow-down" ></i>Genre</h5></button>
<div class="row" id="row-g">
    {% for genre in genres %}
    <div class="col-ml-3">
        <button id="btn-ajax">
            <div class="card" style="width: 15rem; margin: 10px;">
                <img src="{{url_for('static',filename='img/genre/{}'.format(genre[1]))}}" class="card-img-top" alt="..." height="200px">
                <h4 class="card-text" id="btn-ajax">{{genre[0]}}</h4>
                <div class="card-body text-center">
                </div>
            </div>
        </button>
    </div>
    {% endfor %}
</div>
<hr>
<div id="resp">

</div>
<h5 class="hideshows">Artists</h5>
<div class="logo-slider">
    {% for artist in artists %}
        <a href="/music/genre">
            <div class="card-img" style="width: 10rem; margin: 10px;">
                <img src="{{url_for('static',filename='img/artists/{}'.format(artist[1]))}}" class="card-img-top" alt="..." height="100px">
                <div class="card-body text-center">
                    <p class="card-text">{{artist[0]}}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

    

    <script>
        $('button#btn-ajax').click(function(){
            $.ajax({
                url: "/genre",
                type: "POST",
                success: function(resp){
                    $('div#resp').append(resp.data);
                }
            });
          });
    </script>
{% endblock main %}