{% extends 'jinja_temp/user_dashboard.html' %}

{% block title %}
{% endblock title %}

{% block main %}
<style>
   *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       list-style: none;
       text-decoration: none;
       font-family: 'Josefin Sans',sans-serif;
   }
   audio{
    bottom: 16px;
    color: blueviolet;
    display: hidden;
    position: fixed;
    width: 85%;
    outline: none;
  }
</style>
    <div class="user-wrapper">
        <div class="sidnav">
            <h2>MLIB</h2>
            <ul>
                <li><a href=""><i class="fa fa-user"></i> Profile</a></li>
                <li><a href=""><i class="fa fa-stream"></i>playlist</a></li> 
                <li><a href=""><i class="fa fa-play"></i>recent</a></li>
                <li><a href=""><i class="fa fa-music"></i>artists</a></li>
                <li><a href=""><i class="fa fa-sign-out"></i>logout</a></li>
            </ul>
            
                <ul class="social">
                    <h6>follow us</h6>
                  <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="dribbble" href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
        </div>
        <div class="main_content">
            <div class="header">Welcome,user</div>
            <div class="music">
               <ul id="playlist">
                   <li id="current-song"><a href="{{url_for('static',filename='music/mood.mp3')}}">mood</a></li>
                   <li><a href="{{url_for('static',filename='music/sketches.mp3')}}">sketches</a></li>
               </ul>
             <audio src="" controls  id="player"></audio>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script>
        audioPlayer();
        function audioPlayer(){
            var currentSong = 0;
            $("#player")[0].src = $("#playlist li a")[0];
            $("#player")[0].play();
            $("#playlist li a").click(function(e){
                e.preventDefault();
                $("#player")[0].src = this;
                $("#player")[0].play();
            $("#playlist li").removeClass("current-song");
                currentSong = $(this).parent().index();
                $(this).parent().addClass("current-song");
            });
            $("#player")[0].addEventListener("ended",function(){
                currentSong++;
                if(currentSong == $("#playlist li a").length)
                currentSong = 0;
                $('#playlist li').removeClass("current-song");
            });
        }
    </script>
{% endblock main %}